__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.png
*.gif
*.mp4
.venv/
venv/
*.egg
.pytest_cache/

# node
node_modules/
package-lock.json

# office temp
~$*

# latex intermediates
*.aux
*.blg
*.brf
*.synctex.gz
